<table class="table table-hover">
		<thead>
			<tr>
				<th></th>
				<th>Title</th>
				<th>Opinion</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<% books.each do |book| %>
		<tbody>
			<tr class="book_<%= book.id %>">
				<%= render 'books/book', book: book %>
			</tr>
		</tbody>
		<% end %>
	</table>